<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update Quote</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
  <link href="/css/styles.css" rel="stylesheet">
</head>

<body>
  <%- include("partials/header.ejs") %>
  <%- include("partials/nav.ejs") %>
    <h1>Update Quote</h1>
    <form action="/updateQuote" method="POST">
      <label>Select author</label>
      <select name="authorId">
        <% for (let authorRow of authorRows) { %>
          <option value="<%= authorRow.authorId %>" <% if (authorRow.authorId == quoteInfo[0].authorId ) { %>
            selected
            <% } %>>
              <%= authorRow.firstName + " " + authorRow.lastName %>
          </option>
          <% } %>
      </select>
      <label>Select category</label>
      <select name="category">
        <% for (let catRow of categoriesRows) { %>
          <option value="<%= catRow.category %>"  <% if (catRow.quoteId == quoteInfo[0].quoteId ) { %>
            selected
            <% } %>>
            <%= catRow.category %>
          </option>
          <% } %>
      </select>
      <br>
      Quote: <textarea name="quote"><%= quoteInfo[0].quote %></textarea>
      <button>Update</button>
    </form>
    <script src="js/newQuote.js"></script>
    <%- include("partials/footer.ejs") %>
</body>

</html>